.DS_Store


# Executables
tzircrystestaccuracy
tzircrystimage
tzircrystmetropolis
tzircrystmetropolis1sigma

# Other folders
/old*
/Al*
/Kyle*
/Roland*
/Other

# Excess results and intermediate products
*.fig
/results/*.tsv
metropolisdata.tsv
