.DS_Store


# Executables
tzircrystestaccuracy
tzircrystestaccuracydist
tzircrystestaccuracyuniform
tzircrystimage
tzircrystmetropolis
tzircrystmetropolis1sigma

# Other folders
/old*
/Al*
/Kyle*
/Roland*
/Other

# Excess results and intermediate products
*.fig
*.m~
/examples/*/*.tsv
metropolisdata.tsv
BootstrappedDistribution.tsv
.ipynb_*
